.ipynb_checkpoints
scripts/old/
__pycache__/
.ipynb_checkpoints/
scripts/.ipynb_checkpoints
scripts/old
data/00_gaze_data/
data/01_interview_data/
data/02_qualtrics_data/
data/03_fixation_recognition/
**.DS_Store
